.grid {
    display: flex;
    flex-direction: row;
    gap: 20px;
    margin: 10px;
}

.grid.reverse {
    flex-direction: row-reverse;
}

.image {
    width: 200vw;  /* Gør billedet halvt så bredt som skærmen */
    height: auto;  /* Bevarer proportionerne */
    margin-top: 90px;
}
.image img {
    width: 100%;  /* Sørger for at billedet tilpasser sig containerens bredde */
    height: auto;  /* Bevarer proportionaliteten */
}



.grid .item {
    width: 30%; /* Giver hvert element 30% af pladsen */
    text-align: center; /* Centrerer teksten */
}

.grid .item img {
    width: 100%; /* Billedet fylder hele containerens bredde */
    height: auto; /* Bevarer billedets proportioner */
}

.grid .item .btn {
    margin-top: 10px; /* Placerer knappen under billedet */
    padding: 10px 20px;
    background-color: #75AD8A; /* Baggrundsfarve på knappen */
    color: #ffebf1; /* Knappens tekstfarve */
    border: none;
    border-radius: 5px; /* Rundere hjørner på knappen */
    cursor: pointer;
    font-family:  'DynaPuff', cursive;
}

.grid .item .btn:hover {
    background-color: #337357; /* Skifter baggrundsfarve ved hover */
}