
body {
    font-family: Arial, sans-serif;
    line-height: 30px;
    background-color: #ffebf1;
    margin: 0;
    padding: 0;
}

p {
    font-size: 20px;
    margin: 50px;
}

h1 {
    font-family:  'DynaPuff', cursive;
    font-size: 50px;
    font-weight: bold;
    /* text-align: center; */
    padding: 10px;
    margin: 50px;
}

h2 {
    font-family:  'DynaPuff', cursive;
    font-size: 30px;
    font-weight: bold;
    line-height: 50px;
    text-align: center; 
    margin: 50px;
    color: #337357;
}

.logo {
    width: 100px;  /* Juster størrelsen efter behov */
    height: auto;
}

/* Styling af banner */
.banner {
    position: relative;
    width: 100%;
    height: auto; /* Billedet vil få sin egen højde baseret på bredde */
    max-height: 100vh; /* Forhindrer billedet i at blive højere end skærmen */
    background-color:#ffebf1 ;
}

.banner img {
    width: 100%;
    height: auto; /* Billedets højde justeres automatisk for at bevare proportionerne */
    object-fit: contain; /* Sørger for, at hele billedet vises uden at blive beskåret */
    margin-top: 130px;
}

footer {
    background-color: #75AD8A;
    padding: 10px;
}
.footer {
    font-family:  'DynaPuff', cursive;
    font-size: 15px;
    text-align: center;
    color: #ffebf1;
}