
/* Laver grid element for om mig teksten */
.om-mig {
    display: grid;
    grid-template-rows: repeat(20, 40px);
    grid-template-columns: repeat(40, 40px);
}

.tekst-om-mig {
    grid-area: 1/20/1/1;
}

/* Laver grid element for hvis jeg var teksen */
.hvis-jeg-var {
    display: grid;
    grid-template-rows: repeat(24, 40px);
    grid-template-columns: repeat(40, 40px);
    width: 70%; /* Gør teksten halvt så bred som sektionen */
    padding-right: 5%; /* Tilføjer lidt afstand til billedet */
    margin: 30px;
}

.hvis-jeg-var-tekst {
    grid-area: 1/20/1/1;
}

/* Styling af banner */
.banner {
    position: relative;
    width: 100%;
    height: auto; /* Billedet vil få sin egen højde baseret på bredde */
    max-height: 100vh; /* Forhindrer billedet i at blive højere end skærmen */
    background-color:#ffebf1 ;
}

.banner img {
    width: 100%;
    height: auto; /* Billedets højde justeres automatisk for at bevare proportionerne */
    object-fit: contain; /* Sørger for, at hele billedet vises uden at blive beskåret */
}

.cv-container {
    display: flex;
    justify-content: center; /* Centrerer knappen horisontalt */
    align-items: center; /* Centrerer knappen vertikalt */
}

.cv {
    background-color: #75AD8A;
    color: #ffebf1;
    font-size: 20px;
    font-family: 'DynaPuff', cursive;
    font-weight: bold;
    padding: 60px 300px;
    margin: 30px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}

.cv:hover {
    background-color: #337357; /* Mørkere grøn ved hover */
}
