
.om-mig {
    display: flex; /* Bruger flexbox til at placere tekst og billede side om side */
    align-items: center; /* Centrerer indholdet vertikalt */
    justify-content: space-between; /* Sørger for god afstand mellem elementerne */
    max-width: 100%;
    height: 100vh; /* Sørger for, at sektionen fylder hele viewport-højden */
    padding: 0 5%; /* Tilføjer lidt margin fra kanterne */
    background-color: #6D9F71;
}

.tekst-om-mig {
    width: 50%; /* Gør teksten halvt så bred som sektionen */
    padding-right: 5%; /* Tilføjer lidt afstand til billedet */
}

.billede-om-mig {
    width: 45%; /* Gør billedet halvt så bredt som sektionen */
    display: flex;
    justify-content: center; /* Centrerer billedet */
}

.billede-om-mig img {
    width: 100%; /* Gør billedet så bredt som sin container */
    height: auto; /* Bevarer billedets proportioner */
    object-fit: cover; /* Sørger for, at billedet dækker containeren uden at blive strukket */
}


.værktøjskasse {
    display: flex; /* Bruger flexbox til at placere tekst og billede side om side */
    justify-content: center;
    max-width: 100%;
    height: 100vh; /* Sørger for, at sektionen fylder hele viewport-højden */
    padding: 100px; /* Tilføjer lidt margin fra kanterne */
    background-color: green;
}