

.grid .item img {
    margin-bottom: 30px; /* Juster afstanden mellem billedet og linket */
}

.grid .item .btn {
    padding-top: 10px; /* Juster toppen af knappen */
    padding-bottom: 10px; /* Juster bunden af knappen */
    border-radius: 10px;
}

